.contacts {
  position: relative;
  text-align: center;
  border-bottom: 1px solid transparent;
/*
  &::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 105px;
    background: red url("../../img/bg-triangle-white-footer.svg") 0 0 no-repeat;
    background-size: cover;
  }
*/
  &__title {
    margin-top: 20px;
    margin-bottom: 27px;
    padding-top: 18px;
    padding-right: $indent-help;
    padding-left: $indent-help;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
  }

  &__list {
    @include ul-clear;
  }

  &__item {
    margin-bottom: 20px;
    padding-right: $indent-help;
    padding-left: $indent-help;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: $letter-spacing;
  }

  &__link {
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color: $pink-color;
  }
}
