.form-photo {
  &__load-file {
    display: block;
    position: relative;
    overflow: hidden;
    width: 280px;
    height: 374px;
    margin: 0 auto 40px;
    background-color: #124578;

    input[type="file"] {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 15px 4px;
    background: transparent url("../../img/icon-editor-crop.svg") center center no-repeat;

    &--crop {
      background-image: url("../../img/icon-editor-crop.svg");
    }

    &--contrast {
      background-image: url("../../img/icon-editor-contrast.svg");
    }

    &--fill {
      background-image: url("../../img/icon-editor-fill.svg");
    }
  }
  &__input--radio {
    display: none;

    &:checked ~ label {
      background-color: yellow;
    }
  }
}
