.main-nav {

  &__toggler {
    float: right;
    margin: $indent-help;
    padding: 0;
    width: 50px;
    height: 25px;
    background: transparent url('../img/icon-menu-burger.svg') right center no-repeat;
    border: none;
    outline: none;

    &--close {
      background-image: url('../img/icon-menu-cross.svg');
    }

    @include respond(tablet) {
      margin: 2*$indent-help;
    }

    @include respond(desktop) {
      display: none;
    }
  }

  &--opened {
    background-color: $brand-color;
  }

  &__list {
    @include ul-clear;
    height: 0;
    clear: both;
    font-size: 0;
    font-weight: bold;
    text-align: center;
    overflow: hidden;

    &.main-nav__list--opened {
      height: auto;
    }

    @include respond(desktop) {
      height: auto;
      float: right;
      clear: none;
    }

    .main-nav__item {
      font-size: 18px;

      a {
        display: block;
        padding: 19px;
        font-weight: bold;
        color: $light-color;
        text-decoration: none;
        text-transform: uppercase;
        background-color: $brand-color;
        border-top: 1px solid #485461;
        border-bottom: 1px solid #000;

        @include respond(desktop) {
          padding: 40px;
          text-transform: none;
          font-weight: normal;
          background-color: transparent;
        }
      }

      @include respond(desktop) {
        display: inline-block;
      }
    }
  }
}
