.map {
  position: relative;

  a {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    background: $gray-color url("../img/bg-map-mobile@1x.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    @include respond(tablet) {
      height: 380px;
    }

    @include respond(desktop) {
      height: 500px;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 45%;
      left: 50%;
      width: 36px;
      height: 36px;
      margin-left: -18px;
      background: transparent url(../img/icon-map-marker.svg) center center no-repeat;

      @include respond(tablet) {
        top: 52%;
      }
    }
  }
}
