.page-header {
  margin-bottom: 13px;
  text-align: center;
  color: $light-color;
  background: $body-bg-dark url("../../img/bg-back-mobile@1x.jpg") top center no-repeat;

  &--bg-position {
    background-position: center 255px;
  }

  &__inner {
    position: relative;
  }

  &__logo {
    position: absolute;
    top: $indent-help;
    left: $indent-help;

    &-link {
      display: block;
    }

    &:hover {
      svg {
        path {
          fill: $pink-color;
        }
      }
    }
  }

  &__title {
    min-height: 90px;
    margin-bottom: 0;
    padding: 13px 40px 50px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
  }
}
