.pop-up {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto 30px;
  text-align: center;
  box-shadow: 0 7px 25px rgba(0,0,0,0.25);

  @include respond(tablet) {
    width: 460px;

    .btn--submit {
      min-width: 300px;
    }
  }

  &--success {
    @include respond(desktop) {
      width: 780px;

      .btn--submit {
        min-width: 460px;
      }
    }

    .pop-up__inner {
      @include respond(desktop) {
        padding-right: 180px;
        padding-left: 180px;
      }
    }
  }
}

.pop-up__inner {
  padding: $indent-help;

  @include respond(tablet) {
    padding: 30px 70px 10px;
  }

  @include respond(desktop) {

  }
}

.pop-up__title {
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 18px;

  @include respond(tablet) {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 30px;
  }

  @include respond(desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.pop-up__content {
  margin-bottom: 30px;
  font-size: 14px;

  @include respond(mobile) {
    line-height: $line-height;
  }

  @include respond(tablet) {
    font-size: 18px;
  }
}

.pop-up__button-block {
  padding-top: 50px;
  padding-bottom: 50px;

  &--gray {
    background-color: $light-gray-color;
  }

  .btn--submit {
    margin-bottom: 0;
  }
}
