.promo-hand {
  position: relative;
  margin-left: -$indent-help;
  margin-right: -$indent-help;
  min-height: 395px;

  @include respond(tablet) {
    position: absolute;
    width: 100%;
    height: 545px;
    right: 0;
    left: 0;
    bottom: 0;
  }

  @include respond(desktop) {
    //width: 555px;
    height: 645px;
    //right: 40px;
    bottom: 0;
  }
}

.promo-hand__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 258px;
  height: 286px;

  @include respond(tablet-only) {
    width: 700px;
    height: 545px;
    left: 3%;
  }

  @include respond(desktop) {
    width: 1050px;
    height: 645px;
    left: 4%;
  }

  img {
    height: 100%;
    width: auto;
  }

  picture {
    font-size: 0;
    line-height: 0;
  }
}
