.reviews {
  &__inner {
    @include container;
    margin-bottom: 52px;
  }

  &__content {
    position: relative;
    @include ul-clear;
    padding-top: 30px;
    height: 250px;
    text-align: center;

    @include respond(desktop-all) {
      padding-top: 150px;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 70px;
        display: block;
        width: 85px;
        height: 70px;
        margin-left: -35px;
        background: yellow url("../../img/quotes.svg") center center no-repeat;
      }
    }
  }

  &__author {

    &-name {
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: bold;

      @include respond(tablet) {
        font-size: 20px;
      }

      @include respond(desktop-all) {
        font-size: 24px;
      }
    }

    &-additional {
      font-weight: normal;
      font-size: 14px;

      @include respond(mobile) {
        display: none;
      }

      @include respond(desktop-all) {
        font-size: 18px;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: $line-height + 0.4;

    @include respond(tablet) {
      font-size: 18px;
    }
  }

  &__quote {
    &--hidden {
      @include respond(desktop-all) {
        display: none;
      }
    }
  }

  @include respond(desktop-all) {
    .slider__toggles {
      display: none;
    }
  }
}
