.reviews {
  &__inner {
    margin-right: $indent-help;
    margin-left: $indent-help;
    margin-bottom: 52px;
    padding-top: 30px;
  }

  &__content {
    @include ul-clear;
    height: 250px;
    text-align: center;
  }

  &__author {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
  }

  &__text {
    font-size: 14px;
    line-height: $line-height + 0.4;
  }
}
