.slider {
  position: relative;
  overflow: hidden;
}

.slider__item {
  position: absolute;
  width: 100%;
}

.slider__toggles {
  padding: 10px;
  text-align: center;
}

.slider__toggle {
  display: inline-block;
  vertical-align: top;
  width: 7px;
  height: 7px;
  margin: 10px 5px;
  background-color: $gray-color;
  border: 3px $light-color solid;
  border-radius: 50%;

  &--active {
    border-color: #000;
  }
}
